{% extends 'base.html' %}

{% block title %} About {% endblock%}

{% block content %}
<div class="container">
    <div class="p-5 m-3 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to Django Website!</h1>
            <p class="col-md-8 fs-4">This project is a special journey we're building as a father-son team. Whether it's
                writing code, solving bugs, or just learning something new, every step is part of the adventure. Thanks
                for visiting and being a part of it!
            </p></p>
            <button class="btn btn-primary btn-lg" type="button">Learn More</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-md-stretch">
        <div class="col-md-5 m-2">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>More about us</h2>
                <p>We’re not just building a website—we’re learning how to think, solve problems, and explore new ideas
                    together. Every change we make teaches us something new, and that’s what makes this project
                    exciting.</p>
                <button class="btn btn-outline-light" type="button">Example button</button>
            </div>
        </div>
        <div class="col-md-5 m-2">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Tools</h2>
                <p>We use various methods to keep track of our progress and share it with each other via online tools
                    like GitHub or Atlassian. Every line of code changed is saved and shared.</p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>
</div>
{% endblock%}