<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
</head>
<body>
    {% block content %}
      <h2>Register</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <button type="submit">Register</button>
      </form>
    {% endblock %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! <a href="{% url 'log_out' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'log_in' %}">Login</a> | <a href="{% url 'main_page' %}">Home</a></p>
    {% endif %}
</body>
</html>